<%= provide(:top_image) do %>
    <div class="container2">
      <div class="main">
        <%= image_tag("p4.png")%>
      </div>
    </div>
<% end %>

<div class="container">
  <div class="marketing">

    <h1 style="color: darkred; text-shadow: #222 4px 3px 3px;">enGUAGE @ E.I.I.T </h1>  <span style="float: right"><a href="http://www.hipchat.com/gmDCF9llV" class="btn btn-danger ">Online Support</a></span>
    <p class="marketing-byline">Need to become a pro? Look no further.</p>


    <div class="row-fluid">
      <div class="span4">
        <%= image_tag"bs-docs-twitter-github.png", :class=>"marketing-img" %>
        <h2 style="color: darkred">Create Applications.</h2>
        <p>Learn to create applications like <span class="label"> Facebook </span> &nbsp;
        <span class="label"> Twitter <%= link_to image_tag("twitter.png")  %> </span> &nbsp;
        <span class="label">you<span class="appsy"> tube </span> </span> &nbsp; <span class="label"> github </span> &nbsp; <span class="label"> Myshopnanny </span> &nbsp;  &nbsp; <span class="label"> Tektweet </span> &nbsp; and other awesome stuff on the web from scratch.</p>


      </div>
      <div class="span4">
        <%= image_tag "bs-docs-responsive-illustrations.png", :class=> "marketing-img" %>
        <h2 style="color: darkred">Mobile and Web</h2>
        <p>Create web and mobile applications for the android OS, blackberry OS, IOS, Web OS, Symbian OS, bada and lots more. </p>
      </div>
      <div class="span4">
        <%= image_tag "bs-docs-bootstrap-features.png", :class=> "marketing-img" %>
        <h2 style="color: darkred">Packed with features</h2>
        <p>Enguage is packed with dozens of components, learn to use the worlds current and best development tools to create awesome web and mobile applications </p>
      </div>
    </div>
    <hr>
    <div class="about-info justify-text">
      <p class="small-fonts" >
        <%= image_tag "pricetag.png", :class => "initial-image", :style => "float: left; width: 200px" %>
        <b>enGUAGE</b> is a seasonal bootcamp organised by rzaartz inc &copy; in collaboration with <b>EIIT &trade;</b>.
        It is an Open, Collaborative and Community Oriented working environment for <em><b>beginners</b>, <b>nameless coders</b>, and <b>Start-up enthusiast</b></em> to learn and develop Apps with Hands-on-practical experience.
      </p>

      <p>We here by welcome you to the fourth episode of enguage hosted at EIIT as from <b>1st of August 2013</b> in which we bring
        to you wonderful packages tha would blow your minds in the aspect of <b>web development</b>.
      </p>
      <div>
        <h5>enGUAGER's</h5>

        <ul class="social-media">
          learn to create Apps like,
          <li><span class="label"> Facebook </span> </li>
          <li><span class="label"> Twitter<%= link_to image_tag("twitter.png")  %></span> </li>
          <li><span class="label">you<span class="appsy"> tube </span></span></li>
          from the Scratch, Also build web and mobile applications as Entrepreneurs.
        </ul>
        <b><em>enGUAGER's(people who attend this event)</em></b>, get engauged with the worlds best development tools such as:
        <ul class="footer-links">
          <span style="color: #000000">
            <li> Ruby on Rails <%= image_tag "rails.png", :style => "height: 30px; width: 50px;" %></li> &nbsp; <li>CSS3 and HTML5 <%= image_tag "w3schoolslogo.gif", :style => "height: 50px; width:80px;" %> </li> <li>javascript(JQuery) <%= image_tag "logo_jquery_215x53.gif", :style => "height: 50px; width:80px;" %> </li> <li>JSON <%= image_tag "json160.gif", :style => "height: 50px; width:50px;" %> </li> <li>Mobile OS </li> <li> <%= image_tag "devices.png", :style => "height: 60px; width: 80px;" %> </li>
          </span>
        </ul>
      </div>
      <p>In this fourth episode of enguage we would be developing together our first <b>Entertainment Web and mobile Application</b> in which at the end of the event, you will be hosting your first web and mobile application with our hosting service(<em>paid for by enguage</em>) for public use. </p>
    </div>

    <hr class="soften">

    <h1> Apps from our Team.</h1>
    <p class="marketing-byline"><a> Visit any of these our apps listed below to see the awesomeness of Ruby on rails </a></p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://hypejamz.com/" target="_blank">
            <%= image_tag "hj.png", :alt=> "SoundReady.fm" %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://devengage.com/" target="_blank">
            <%= image_tag "en.png", :alt=>"Kippt" %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.tektweet.com/" target="_blank">
            <%= image_tag "tt.png", :alt=>"Gather Content" %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.myshopnanny.com/" target="_blank">
            <%= image_tag "sn.png", :alt=> "JS Hint" %>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>


<!-- Footer
================================================== -->
<footer class="footer">
  <div class="container">

  </div>
</footer>





